.header {
    position: absolute;
    top: 0;left: 0;right: 0;
}

.header__inner {
    padding: 10px;
    text-align: left;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    font-size: 20px;
}

.cvs {
    background: rgb(51, 51, 51);
}

.pauseBtn {
    position: relative;
    z-index: 15;
    width: 50px;
    cursor: pointer;
}

.modal {
    top: 0;left: 0;bottom: 0;right: 0;
    z-index: 10;
    position: absolute;
    background: rgb(30, 30, 30, 0.9);
    color: #fff;
    font-size: 25px;
}

.modal__inner {
    position: absolute;
    left: 50%;top: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.pause__link {
    cursor: pointer;
    margin: 10px 0;
}

.pause__link button {
    font-family: 'Montserrat', sans-serif;
    color: rgb(235, 235, 235);
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.pause__title {
    margin-bottom: 15%;
}

.loose {
    position: absolute;
    width: 100%;
    background: rgb(30, 30, 30, 0.9);
    line-height: 1.4;
}

.z20 {
    z-index: 20;
}