body {
	margin: 0;
	padding: 0;
	min-width: 320px;
	overflow-x: hidden;

    color: #000;
	background-color: #fff;
	font-size: 17px;
	font-family: 'Nunito', sans-serif;
}

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

input,
textarea {
    outline: none;
    resize: none;
}

.hide {
    display: none;
}

.todo {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

.todo__inner {
    width: 100%;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
}

.todo__inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    background-color: bisque;
    width: 100%;
    padding: 5px 10px;
    border-bottom: 1px solid #000;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}

.todo__inner-add {
    display: flex;
}

.todo__inner-add__input {
    width: 100%;
    padding: 8px 10px;
    font-size: 17px;
    border: none;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.todo__inner-add__btn {
    padding: 5px 10px;
    border: none;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
}

.todo__inner-body {
    text-align: left;
    padding: 10px;
    overflow-x: hidden;
    max-height: 80%;
}

.todo__inner-body__container {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    border: 1px solid #000;
    position: relative;
}

.todo__inner-body__text {
    border-radius: 3px;
    padding: 10px 10px 10px 40px;
    word-break: break-word;
    position: relative;
}

.todo__inner-text--active {
    color: rgba(0, 0, 0, 0.5);
}

.todo__inner-body__checkbox {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    background: #ccc;
    border: 1px solid #000;
    z-index: 100;
}

.todo__inner-body__checkbox--active {
    background: orange;
}

.todo__inner-body__changeinput {
    font-size: 17px;
    border-radius: 3px;
    padding: 10px 10px 10px 40px;
    word-break: break-word;
    border: none;
    background-color: #ccc;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    max-height: 100%;
}

.todo__inner-body__panel {
    text-align: right;
    display: flex;
    align-items: center;
    border-left: 1px solid #000;
}

.todo__inner-body__panel button {
    font-size: 14px;
    height: 15px;
    padding: 0 3px;
    height: 100%;
    background-color: #ccc;
    border: none;
}

.todo__inner-body__panel button:nth-child(1) {
    border-right: 1px solid #000;
}

