.blue-theme .scroll-top {
	background: #2575fc;
}

.blue-theme .theme-block__open {
	color: #fff;
	background: #2575fc;
}

.blue-theme .theme-block__title p {
	color: #2575fc;
	font-weight: 700;
	font-family: 'Heebo', sans-serif;
	letter-spacing: 3px;
}

.blue-theme .quad--section {
	border: 6px solid #2575fc;
}


/*  Nav  */
.blue-theme .nav__link:hover { 
	color: #2575fc;
}

.blue-theme .nav__link--active {
	color: #2575fc;
}


/*  Btn  */
.blue-theme .header-btn {
	background: linear-gradient(to right, #2575fc, #2575fc); 
}

.blue-theme .btn {
	background: linear-gradient(to right, #2575fc, #2575fc); 
	color: #fff;
	letter-spacing: 1px;
	font-weight: 700;
	margin: 10px 10px 0 0;
	padding: 14px 24px;
	opacity: 1;

	border-radius: 7px;
	display: inline-block;
	transition: all .2s linear;
	box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
}

.blue-theme .btn-box:hover .btn {
	background: linear-gradient(to right, #2575fc, #2575fc);
	color: #fff;
	transform: translateY(-5px) rotate(5deg);
}

.blue-theme .btn--black {
	background: #000; 
}

.blue-theme .btn-box:hover .btn--black {
	background: #2575fc;
	color: #fff;
	transform: translateY(-5px) rotate(5deg);
}

.blue-theme .btn--white {
	color: #000;
	background: #fff;
}

.blue-theme .btn-box:hover .btn--white {
	background: #2575fc;
	color: #fff;
	transform: translateY(-5px) rotate(5deg);
}

.blue-theme .btn--radius {
	border-radius: 30px;
}

.blue-theme .btn--nomargin {
	margin: 0;
}

/* slider-cards */
.blue-theme .slider-cards__item-arrow {
	font-weight: 700;
	font-size: 17px;
	width: 50px;
	height: 50px;
	justify-content: center;
	align-items: center;
	display: inline-block;

	border-radius: 50%;
	left: 50%;
	bottom: -25px;
	background: #fff;
	color: #2575fc;

	transform: translateX(-50%);
	z-index: 15;
	position: absolute;
	bottom: 10px;
	display: flex;
	transition: all .2s linear;
	box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.2);
}

.blue-theme .slider-cards__item-arrow:hover {
	background: #2575fc;
	color: #fff;
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.8);
}


/* aboutus */
.blue-theme .dot {
	display: inline-block;
	padding: 5px;
	margin-right: 12px;
	border-radius: 50%;
	background: #2575fc;
	z-index: 10;
}

.blue-theme .quad {
	border: 6px solid #2575fc;
	border-radius: 5px;
	padding: 18px;
	top: -45%;
	left: -15px;
	opacity: 0.25;
	position: absolute;
	animation: rotatequad 2s linear infinite;
}

.blue-theme .aboutus__list li:before {
	content: ">";
	display: block;
	margin-right: 10px;
	font-size: 25px;
	color: #2575fc;
	transform: rotate(100deg);
}


/* sevices */
.blue-theme .services__item:before {
    content: "";
	display: block;
	background: linear-gradient(to top, #2575fc, #2575fc); 
	height: 100%;
	width: 100%;
    left: 0;
    position: absolute;
    top: 0;
    opacity: 0;
	transition: all .4s linear;
	justify-content: center;
	align-items: center;
	transform: scale(0);
}

.blue-theme .services__item:hover:before {
	opacity: 1;
	transform: scale(1);	
}

/* steps */
.blue-theme .steps__item-number {
	font-size: 17px;
	background: #fff;
	padding-top: 12px;
	width: 45px;
	height: 45px;
	top: -40px;
	right: 30%;
	color: #2575fc;
	border-radius: 50%;
	box-shadow: 0 12px 20px 0 rgba(117, 178, 240, 0.4);	
	font-weight: 700;
	position: absolute;
	text-align: center;
	align-items: center;
	justify-content: center;
}


/*  team  */
.blue-theme .team__member-name {
	font-size: 20px;
	font-weight: 600;
	color: #2575fc;
	opacity: 0.8;
	letter-spacing: 1.5px;
}


/*  plan  */
.plan__item {
	width: 31.5%;
	position: relative;
	background: linear-gradient(to bottom, #FAFAFF, #fff);
	text-align: center;
	padding: 50px 0;
	transition: box-shadow .2s linear;
	box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
}

.blue-theme .plan__item-status {
	font-size: 30px;
	letter-spacing: 2px;
	color: #2575fc;
	margin-bottom: 15px;
}


/*  review  */
.blue-theme .review__comment-block:after {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 2;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	width: 130px;
	height: 100%;
	background-color: #2575fc;
}

.blue-theme .review__comment-autor {
	color: #2575fc;
	display: inline-block;
	font-size: 18px;
	letter-spacing: 2px;
	margin: 10px 0;
	position: relative;
}

.blue-theme .review__comment-autor:before {
	content: "";
	display: block;
	width: 75%;
	height: 3px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #2575fc;
}

.blue-theme {
	transition: all .2s linear;
}