.green-theme .scroll-top {
	background: #05F8A1;
}

.green-theme .border5 {
	border: 5px solid #05F8A1;
	transition: all .4s linear;
}

.green-theme .theme-block__open {
	width: 50px;
	height: 50px;
	color: #fff;
	font-size: 30px;
	border-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	cursor: pointer;
	background: #05F8A1;
	position: absolute;
	transform: translateX(-100%);
	text-align: center;
	justify-content: center;
}

.green-theme .theme-block__title p {
	color: #05F8A1;
	font-weight: 700;
	font-family: 'Heebo', sans-serif;
	letter-spacing: 3px;
}

.green-theme .quad--section {
	border: 6px solid #2FC78D;
	border-radius: 5px;
	padding: 18px;
	position: absolute;
	top: -50%;
	left: 40px;

	opacity: 0.25;
	animation: rotatequad 2s linear infinite;
}

.green-theme .header__logo-blue,
.green-theme .header__logo-orange,
.green-theme .header__logo-blue-light,
.green-theme .header__logo-pink {
	display: none;
}

.green-theme .header__logo-green {
	display: block;
}


/*  Nav  */
.green-theme .nav-burger {
	border-bottom: 3px solid #05F8A1;
}

.green-theme .nav-burger::after {
	background: #05F8A1;
}

.green-theme .nav-burger::before {
	background: #05F8A1;
}

.green-theme .nav-burger--active {
	border-bottom: 0px solid #05F8A1;
}

.green-theme .nav-burger--active::after {
	background: #05F8A1;
}

.green-theme .nav-burger--active::before {
	background: #05F8A1;
}

.green-theme .nav__link:hover { 
	color: #05F8A1;
}

.green-theme .nav__link--active {
	color: #05F8A1;
}


/*  Btn  */
.green-theme .header-btn {
	background: linear-gradient(to right, #05F8A1, #2FC78D); 
}

.green-theme .btn {
	background: linear-gradient(to right, #05F8A1, #2FC78D); 
	color: #fff;
	letter-spacing: 1px;
	font-weight: 700;
	margin: 10px 10px 0 0;
	padding: 14px 24px;
	opacity: 1;

	border-radius: 7px;
	display: inline-block;
	transition: all .2s linear;
	box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
}

.green-theme .btn-box:hover .btn {
	background: linear-gradient(to right, #05F8A1, #2FC78D);
	color: #fff;
	transform: translateY(-5px) rotate(5deg);
}

.green-theme .btn--black {
	background: #000; 
}

.green-theme .btn-box:hover .btn--black {
	background: #05F8A1;
	color: #fff;
	transform: translateY(-5px) rotate(5deg);
}

.green-theme .btn--white {
	color: #000;
	background: #fff;
}

.green-theme .btn-box:hover .btn--white {
	background: #05F8A1;
	color: #fff;
	transform: translateY(-5px) rotate(5deg);
}

.green-theme .btn--radius {
	border-radius: 30px;
}

.green-theme .btn--nomargin {
	margin: 0;
}

/* slider-cards */
.green-theme .slider-cards__item-arrow {
	font-weight: 700;
	font-size: 17px;
	width: 50px;
	height: 50px;
	justify-content: center;
	align-items: center;
	display: inline-block;

	border-radius: 50%;
	left: 50%;
	bottom: -25px;
	background: #fff;
	color: #05F8A1;

	transform: translateX(-50%);
	z-index: 15;
	position: absolute;
	bottom: 10px;
	display: flex;
	transition: all .2s linear;
	box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.2);
}

.green-theme .slider-cards__item-arrow:hover {
	background: #05F8A1;
	color: #fff;
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.8);
}


/* aboutus */
.green-theme .dot {
	display: inline-block;
	padding: 5px;
	margin-right: 12px;
	border-radius: 50%;
	background: #05F8A1;
	z-index: 10;
}

.green-theme .quad {
	border: 6px solid #05F8A1;
	border-radius: 5px;
	padding: 18px;
	top: -45%;
	left: -15px;
	opacity: 0.25;
	position: absolute;
	animation: rotatequad 2s linear infinite;
}

.green-theme .aboutus__list li:before {
	content: ">";
	display: block;
	margin-right: 10px;
	font-size: 25px;
	color: #05F8A1;
	transform: rotate(100deg);
}


/* sevices */
.green-theme .services__item:before {
    content: "";
	display: block;
	background: linear-gradient(to top, #05F8A1, #2FC78D); 
	height: 100%;
	width: 100%;
    left: 0;
    position: absolute;
    top: 0;
    opacity: 0;
	transition: all .4s linear;
	justify-content: center;
	align-items: center;
	transform: scale(0);
}

.green-theme .services__item:hover:before {
	opacity: 1;
	transform: scale(1);	
}

/* steps */
.green-theme .steps__item-number {
	font-size: 17px;
	background: #fff;
	padding-top: 12px;
	width: 45px;
	height: 45px;
	top: -40px;
	right: 30%;
	color: #05F8A1;
	border-radius: 50%;
	box-shadow: 0 12px 20px 0 rgba(117, 178, 240, 0.4);	
	font-weight: 700;
	position: absolute;
	text-align: center;
	align-items: center;
	justify-content: center;
}


/*  team  */
.green-theme .team__member-name {
	font-size: 20px;
	font-weight: 600;
	color: #05F8A1;
	opacity: 0.8;
	letter-spacing: 1.5px;
}


/*  plan  */
.plan__item {
	width: 31.5%;
	position: relative;
	background: linear-gradient(to bottom, #FAFAFF, #fff);
	text-align: center;
	padding: 50px 0;
	transition: box-shadow .2s linear;
	box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
}

.green-theme .plan__item-status {
	font-size: 30px;
	letter-spacing: 2px;
	color: #05F8A1;
	margin-bottom: 15px;
}


/*  review  */
.green-theme .review__comment-block:after {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 2;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	width: 130px;
	height: 100%;
	background-color: #05F8A1;
}

.green-theme .review__comment-autor {
	color: #05F8A1;
	display: inline-block;
	font-size: 18px;
	letter-spacing: 2px;
	margin: 10px 0;
	position: relative;
}

.green-theme .review__comment-autor:before {
	content: "";
	display: block;
	width: 75%;
	height: 3px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #05F8A1;
}

.green-theme {
	transition: all .2s linear;
}


/*  blog   */
.green-theme .blog {
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
}

.green-theme .blog__item {
	position: relative;
	background: linear-gradient(to bottom, #FAFAFF, #fff);
	transition: box-shadow .2s linear;
	box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
}

.green-theme .blog__item-block-img:after {
	content: '';
	width: 0%;
	height: 50%;
	position: absolute;
	display: block;
	background: #05F8A1;
	bottom: 0;
	right: 0;
	opacity: 0.75;
	transition: all .5s ease-in-out;
}

.green-theme .blog__item-block-img:before {
	content: "";
	width: 0;
	height: 50%;
	position: absolute;
	display: block;
	background: #05F8A1;
	top: 0;
	left: 0;
	opacity: 0.75;
	z-index: 5;
	transition: all .5s ease-in-out;
}

.green-theme .blog__item-img__name {
    font-weight: 700;
    font-size: 12px;
	padding: 8px 20px;
	letter-spacing: 1px;
    color: #fff;
    border-top-right-radius: 7px;
    text-transform: uppercase;
    background: #05F8A1;
    text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 5;
	transition: all .3s linear;
}

.green-theme .blog__item-img__name:hover {
	color: #05F8A1;
}

.green-theme .blog__date:after {
	content: "";
	display: block;
	position: absolute;
	width: 50%;
	height: 3px;
	bottom: 0;
	left: 0px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #05F8A1;
}

.green-theme .blog__date span{
	margin-right: 30px;
}

.green-theme .blog__title {
	font-size: 25px;
	color: #000;
	letter-spacing: 1px;
	margin-bottom: 20px;
	display: inline-block;
	transition: color .3s linear;
}

.green-theme .blog__title:hover {
	color: #05F8A1;
}

.green-theme .blog__text {
	color: #787878;
	line-height: 1.7;
}



/*  subscribe   */
.green-theme .subscribe__input-btn {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	padding: 14px 25px;
	right: 45px;

	background-color: #05F8A1; 
	border-radius: 7px;
	position: absolute;
	transition: all .1s linear;
}


/*  footer  */
.green-theme .footer__inner-contactus a {
	color: #05F8A1;
	letter-spacing: 1px;
	font-weight: 600;
}

.green-theme .copyright__social a {
    color: #1c1d3e;
	margin-left: 30px;
	transition: all .2s linear;
}

.green-theme .copyright__social a:hover {
	color: #05F8A1;
}