body {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    user-select: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

li, ul {
    list-style: none;
    text-decoration: none;
}

.wrapper {
    width: 100%;
    height: 100%;
    max-width: 700px;
    max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.canvas {
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow-x: hidden;
}

.hide {
    display: none;
}

.modal  {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding-top: 50px;
    overflow-x: hidden;
}

.modal__item {
    width: 100%;
    font-weight: 400;
    font-size: 25px;
    padding: 30px;
    line-height: 1.5;
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.modal__header {
    text-align: center;
    background-color: 
    z-index: 100;
}

.modal__header-title {
    font-size: 40px;
}

.small-text {
    font-size: 17px;
    font-weight: 200;
    opacity: .7;
}

.scores {
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    top: 10px;
    left: 15px;
    line-height: 1.5;
}

.settings-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    cursor: pointer;
}

.settings-icon--white {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    cursor: pointer;
    z-index: 15;
}

.settings__item {
    overflow: hidden;
    margin: 15px 0;
}

.settings__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.settings__specification {
    font-size: 23px;
    font-weight: 300;
    max-height: 0px;
    overflow: hidden;
    transition: all .3s linear;
}

.settings__specification--active {
    overflow: hidden;
}

.settings__specification-removedata {
    font-family: 'Nunito', sans-serif;
    color: #fff;
    font-size: 19px;
    background-color: rgba(0, 0, 0, 1);
    padding: 5px 10px;
    border: 0;
    border-right: 5px;
    outline: none;
    cursor: pointer;
}

.settings__link-arrow {
    margin-left: 10px;
    max-width: 15px;
    transition: transform .3s linear;
}

.settings__link-arrow--active {
    transform: rotate(180deg);
}

@media (max-width: 500px) {
    .modal {
        padding-top: 30px;
    }

    .modal__header-title {
        font-size: 28px;
    }

    .modal__item {
        font-size: 16px;
        padding: 0;
    }
}