body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.dnone {
    display: none;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    width: 100%;
    background: #ccc;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}


/* gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}

.gallery__items {
    padding: 0 10px;
    margin-bottom: 80px;
    width: 33.33333%;
    height: 300px;
    position: relative;
}

.gallery__item {
    border: 2px solid rgba(0, 0, 0, 0.486);
    border-radius: 5px;
    height: 100%;
    background: #000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: border .2s ease;
}

.gallery__item img {
    max-width: 100%;
    display: block;
    transition: transform 1s ease;
}

.gallery__item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    margin: 5px 10px;
    padding: 5px 15px;
    z-index: 10;
    position: absolute;
    transform: translateY(120%);
    left: 0;right: 0;bottom: 0;
    border: 2px solid rgba(0, 0, 0, 0.486);
    border-radius: 5px;
    transition: border .2s ease;
}

.gallery__item-changename {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding: 0;
}

.gallery__item-info--active {
    background: rgb(136, 255, 0);
}

.gallery__item:hover .gallery__item-info {
    border: 2px solid rgb(136, 255, 0);
}

.gallery__item:hover  .gallery__item-info--active {
    border: 2px solid rgba(0, 0, 0, 0.98);
}

.gallery__item--active {
    border: 2px solid rgb(136, 255, 0);
}

.gallery__item--active:hover {
    border: 2px solid rgb(0, 197, 0);
}

.gallery__item-modal {
    width: 100%;
    height: 100vh;
    top: 0;
    background: rgba(0, 0, 0, 0.98);
    position: fixed;
    z-index: 10000;
}

.gallery__item-modal img {
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    max-height: 100%;
}